.todoitem {
    width: 100%;
    display: grid;
    grid-template-columns: 1% 89% 10%;
    grid-template-areas: 'extra todo delete';
    box-shadow: 0 0 3px #d4d4d4, 0 2px 3px #d4d4d4;
    box-sizing : border-box;
    margin-top:10px;
}
.todoitem span {
    grid-area: todo;
    font-size: 1.3rem;
    line-height: 2.5rem;
}
.checked {
    background: #DEDEDE;
    grid-template-columns: 10% 80% 10%;
    grid-template-areas: 'check todo delete';
}
.checked span {
    text-decoration: line-through;
}
.todoitem i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    text-align: center;
}
.todoitem .fa-check {
    grid-area: check;
    color: #ff5e00;
}
.todoitem .fa-times {
    grid-area: delete;
    color: #bd0b0b;
}